<div class="card cyno-body">
        <div class="card-header card-header-sm">
            <h5 class="card-title project-title">产品证券结构</h5>
        </div>
        <div class="card-body card-body-nopadding">
<table class="table table-sm">
    <thead>
        <tr>
        <th scope="col">证券代码</th>
        <th scope="col">证券名称</th>
        <th scope="col">发行金额(亿)</th>
        <th scope="col">分割比例(%)</th>
        <th scope="col">还本方式</th>
        <th scope="col">起息日</th>
        <th scope="col">预计到期日</th>
        <th scope="col">利率公式</th>
        <th scope="col">发行利率</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="isEmptyData()">
            <td colspan="9" style="text-align: center; padding: 20px">无数据</td>
        </tr>
        <tr *ngFor="let item of datas">
            <td>{{item.securitiesCode}}</td>
            <td>{{item.securitiesName}}</td>
            <td>{{(item.securitiesSize / 100000000) | currency:'':true:'0.2-2'}}</td>
            <td>{{item.securitiesCycle | percent:'0.2-2'}}</td>
            <td>{{item.paybackType}}</td>
            <td>{{item.valueDate | date: "yyyy-MM-dd"}}</td>
            <td>{{item.maturityDate | date: "yyyy-MM-dd"}}</td>
            <td>{{item.rateFormula}}</td>
            <td>{{item.rate}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>