<div class="card cyno-body statassetpool-main function-body">
    <div class="card-header" style="display: flex;">
        <h5 class="card-title project-title" style="flex: 1;font-weight: 700;">导入静态池样本</h5>
        <div style="flex: 1;"></div>
        <button mat-raised-button style="flex: 0 0 120px;"  [routerLink]="'/index/statassetpool/main'">
            返回静态池列表
        </button>
    </div>

    <div class="card-body" style="padding-top: 70px;">
        <div class="container-fluid">
            <div class="row justify-content-md-center" style="margin-bottom: 10px;">
              <div class="col-md-auto" style="padding: 0px;min-width: 400px;">
                <button mat-button style="padding:10px 15px;position:relative;left: -18px;" class="btn-lg" #uploadBtn [disabled]="disabled">
                    <mat-icon fontSet="fa" fontIcon="fa-upload"></mat-icon>
                    选择附件
                </button>
                (<a class="btn btn-link btn-sm" href="/cyno/cynoweb/staticpool/downloadStaticPool.do" target="templateDowload">下载静态池样本导入模板</a>)
              </div>
              
            </div>
            <div class="row justify-content-md-center" style="margin-bottom: 10px;">
                <div class="col-md-auto" style="padding: 0px;min-width: 400px;">
                    <mat-progress-bar *ngIf="uploading" mode="determinate" [value]="progress" [color]="color"></mat-progress-bar>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto" style="padding: 0px;min-width: 400px;color:gray;font-size:0.8rem;" *ngIf="!uploadMsg">
                    说明：请先下载静态池样本模版，按照实例录入样本信息。
                </div>
                <div class="col-md-auto" style="padding: 0px;min-width: 400px;color:gray;font-size:0.8rem;" *ngIf="uploadMsg === 'success'">
                    上传成功
                </div>
                <div class="col-md-auto" style="padding: 0px;min-width: 400px;color:gray;font-size:0.8rem;color: red;" *ngIf="uploadMsg === 'error'">
                    上传失败
                </div>
            </div>
        </div>
            
    </div>
     <iframe src="#" style="display: none;" name="templateDowload"></iframe>
</div>