<nav class="navbar navbar-expand-lg fixed-top" id="nav-title" [ngClass]="{'nav-scrolled-shadow': _scrolled}">
    <a class="navbar-brand" href="javascript:void(0)">ABS-CYNO</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:void(0)">产品介绍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">价格方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">解决方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">服务支持</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/ii"  class="btn btn-regist">注册</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/i"  class="btn btn-login">登录</a>
                </li>

                </ul>
            
    </div>

</nav>