.projects-main {
    .body-table {
        padding: 20px;
        overflow: auto;
        //min-height: calc(100vh - 250px);
        min-height: 300px;
        table > thead > tr > th {
            font-size: 0.8rem;
            font-weight: 600;
            color: #655959;
            vertical-align: middle;
        }

        table > tbody > tr > td, table > tbody > tr > th {
            font-size: 0.8rem;
            font-weight: 400;
            color: #655959;
            vertical-align: middle;
        }

        .cesuan-action-column .mat-icon {
            color: #d8dae5;
            &:hover {
                color: #125fd7;
            }
        }
    }

    .mat-tab-group .mat-tab-labels .mat-tab-label{
        min-width: 70px;
    }

    .table-pager{
        padding: 15px;
    }

    .mat-tab-label{
        height: 35px;
        padding: 0 14px;
    }

    .mat-paginator .mat-paginator-container{
        justify-content:  center;
    }

    .project-search-field .mat-form-field-label-wrapper .mat-form-field-label{
        top: 2em;
        left: 20px !important;
        font-size: 14px;
    }
    
}