<div class="card cyno-body function-body projects-main" style="position: relative;">
    <mat-tab-group style="width: 800px;">
        <mat-tab label="我的关注"></mat-tab>
        <mat-tab [label]="item.paramName" *ngFor="let item of marketsLists"></mat-tab>
    </mat-tab-group>
    <mat-form-field class="example-form-field project-search-field" style="position: absolute; right: 30px; z-index:10;">
        <input matInput type="text" placeholder="输入名称,代码" [(ngModel)]="searchText" style="font-size: 14px;" (change)="doSearch()"/>
        <button mat-button matSuffix mat-icon-button (click)="doSearch()">
            <mat-icon style="font-size: 20px;">search</mat-icon>
        </button>
    </mat-form-field>
<div class="body-table">
    <mat-spinner *ngIf="isLoadingResults" style="position: fixed;top: calc(50vh - 50px);left: calc(50vw - 50px);z-index: 9999;"></mat-spinner>
    <mat-ext-table [dataSource]="dataSource">
        <!-- 定义列 -->
        <ng-container cdkColumnDef="num">
            <cdk-header-cell *cdkHeaderCellDef style="flex: 0 0 30px;height: 40px;color: #000;font-weight: 700;"> 序号 </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element=$implicit;let row=$row;" style="flex: 0 0 30px;height: 35px;text-align: left;"> {{row.num}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="projectShortName">
            <cdk-header-cell *cdkHeaderCellDef style="flex: 1 0 70px; max-width: 160px; height: 40px;color: #000;font-weight: 700;text-align: left;"> 项目简称 </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" style="flex: 1 0 70px;  max-width: 160px;height: 35px;text-align: left;"> <a [routerLink]="'/index/pdcalc/pdcalc/' + element.proposalId + '/0/0/'+element._t">{{element.projectShortName}}</a></cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="projectType">
            <cdk-header-cell *cdkHeaderCellDef style="flex: 1 0 70px;max-width: 150px; height: 40px;color: #000;font-weight: 700;text-align: left;"> 
                项目分类
                <button [matJyDropDownTriggerFor]="proTypeFilterPanel" mat-icon-button style="width: 20px;height: 20px;line-height: 20px;">
                    <mat-icon fontSet="fa" fontIcon="fa-filter"  style="height:  18px;width:  18px;line-height: 18px;"></mat-icon>
                </button>
                <!-- dropdown -->
                <mat-jydropdown #proTypeFilterPanel [multiple]="true" (onSelectChange)="onFilterForProTypeChange($event)">
                    <mat-option  [value]="item.paramCode" *ngFor="let item of _assertDatas">{{item.paramName}}</mat-option>
                </mat-jydropdown>

             </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" style="flex: 1 0 70px;max-width: 150px;height: 35px;text-align: left;"> {{element.projectType}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="sponsorOrg">
            <cdk-header-cell *cdkHeaderCellDef style="flex: 1 0 100px; max-width: 160px;height: 40px;color: #000;font-weight: 700;">
                 原始权益人/发起机构 
                <button [matJyDropDownTriggerFor]="sponsorOrgFilterPanel" mat-icon-button style="width: 20px;height: 20px;line-height: 20px;position: relative;left: 0px;top: 0px;">
                    <mat-icon fontSet="fa" fontIcon="fa-filter"  style="height:  18px;width:  18px;line-height: 18px;"></mat-icon>
                </button>
                <mat-jydropdown #sponsorOrgFilterPanel [multiple]="true" (onSelectChange)="onFilterForSponsorOrgChange($event)">
                    <mat-option  [value]="item.institutionCode" *ngFor="let item of _sponsorOrgsDatas">{{item.shortName}}</mat-option>
                </mat-jydropdown>  
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" style="flex: 1 0 100px; max-width: 160px;height: 35px;text-align: left;"> {{element.sponsorOrg}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="valueDate">
            <cdk-header-cell *cdkHeaderCellDef style="flex: 1 0 60px; max-width: 90px;height: 40px;color: #000;font-weight: 700;text-align: left;">
                起息日
                <button mat-icon-button style="width: 20px;height: 20px;line-height: 20px;" (click)="handlerSort()">
                    <mat-icon fontSet="fa" fontIcon="fa-filter" [fontIcon]="!sortTag ? 'fa-sort' : 'fa-sort-' + sortTag" style="height:  18px;width:  18px;line-height: 18px;"></mat-icon>
                </button>
            </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element" style="flex: 1 0 60px;max-width: 90px; height: 35px;text-align: left;"> {{element.setUpDate | jydate:"yyyy-MM-dd"}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="securitiesInfo">
            <header-group-cell *cdkHeaderCellDef title="证券结构" style="color: #000;font-weight: 700;flex: 1 0 780px;">
                <header-group-cell title="证券代码" style="flex:1 0 70px; height: 40px;color: #000;font-weight: 700;"></header-group-cell>
                <header-group-cell title="证券类型" style="flex:1 0 70px;  height: 40px;color: #000;font-weight: 700;"></header-group-cell>
                <header-group-cell title="发行金额(万元)" style="flex:1 0 70px;height: 40px;color: #000;font-weight: 700;text-align:center;"></header-group-cell>
                <header-group-cell title="期限/剩余期限(月)" style="flex:1 0 90px; height: 40px;color: #000;font-weight: 700;text-align:center;"></header-group-cell>
                <header-group-cell title="当前利率(%)" style="flex:1 0 60px;height: 40px;color: #000;font-weight: 700;text-align:center;"></header-group-cell>
                <header-group-cell title="当前评级" style="flex:1 0 60px;height: 40px;color: #000;font-weight: 700;text-align:center;"></header-group-cell>
                <header-group-cell title="收益率均值" style="flex: 1 0 80px;height: 40px;color: #000;font-weight:700;text-align:center;"></header-group-cell>
                <header-group-cell title="收益率分位点" style="flex:0 0 270px; color: #000;font-weight: 700;text-align:center;">
                    <header-group-cell title="25%" style="height: 20px;color: #000;font-weight: 700;text-align:center;"></header-group-cell>
                    <header-group-cell title="50%" style="height: 20px;color: #000;font-weight: 700;text-align:center;"></header-group-cell>
                    <header-group-cell title="75%" style="height: 20px;color: #000;font-weight: 700;text-align:center;"></header-group-cell>
                </header-group-cell>
            </header-group-cell>
            <!-- cell grow row -->
            <group-row-cell *cdkCellDef="let element" style="flex: 1 0 780px;">
                <jycdk-group-row *groupCellRowDef="let data; rows: element.list;">
                    <group-cell>
                        <group-cell style="flex:1 0 70px;" ><a [routerLink]="'/index/pdcalc/pdcalc/' + element.proposalId + '/0/' + data.securitiesId+ '/' + element._t">{{data.securitiesCode}}</a></group-cell>
                        <group-cell style="flex:1 0 70px;">{{data.securitiesType}}</group-cell> 
                        <group-cell style="flex:1 0 70px;">{{(data.securitiesSize / 10000) | currency:'':true:'0.2-2'}}</group-cell>  
                        <group-cell style="flex:1 0 90px; position: relative;height: 30px;">
                            <span style="position: absolute;top: -3px;z-index: 2;right: 0px;"> {{data.expectedYears | number: '0.0-2'}}/{{(data.remainYears <= 0 ? 0 : data.remainYears)| number: '0.0-2'}}</span>
                            <mat-progress-bar mode="determinate" [value]="data.expectedYears ? (((data.remainYears > 0 ? data.remainYears : 0) / data.expectedYears ) * 100) : 0" style="margin-top: 15px; transform: rotateY(180deg);"></mat-progress-bar>
                        </group-cell>
                        <group-cell style="flex:1 0 60px;">{{data.rate | percent:'0.2-2'}}</group-cell> 
                        <group-cell style="flex:1 0 60px;">{{data.grade}}</group-cell>
                        <group-cell  style="flex:1 0 80px;">
                            <a [routerLink]="'/index/pdcalc/pdcalc/' + element.proposalId + '/0/' + data.securitiesId + '/' + element._t">{{data.rateAvg | percent:'0.2-2'}}</a>
                        </group-cell>
                        <group-cell style="flex:0 0 270px;"> 
                            <group-cell>{{data.rateQ1 | percent:'0.2-2'}}</group-cell>
                            <group-cell>{{data.rateQ2 | percent:'0.2-2'}}</group-cell>
                            <group-cell>{{data.rateQ3 | percent:'0.2-2'}}</group-cell>
                        </group-cell>
                    </group-cell>
                </jycdk-group-row>
            </group-row-cell>
        </ng-container>

        <ng-container cdkColumnDef="isFavorites">
            <cdk-header-cell *cdkHeaderCellDef style="flex: 0 0 40px;height: 40px;color: #000;font-weight: 700;"> 关注 </cdk-header-cell>
            <cdk-cell *cdkCellDef="let element;" style="flex: 0 0 40px;">
                <button (click)="addToFavorites(element)" matTooltip="点击关注" (click)="element" mat-icon-button 
                    style="width: 20px;height: 20px;line-height: 20px;"> 
                    <mat-icon fontSet="fa" fontIcon="fa-star"  style="height:18px;width:18px;line-height: 18px;font-size: 24px;"
                    [ngStyle]="{'color': element.isFavorites === 'N' ? '#d8dae5' : '#1fd3c8'}"></mat-icon>
                </button>
            </cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="['num', 'projectShortName','projectType','sponsorOrg','valueDate','securitiesInfo','isFavorites']"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: ['num','projectShortName','projectType','sponsorOrg','valueDate','securitiesInfo','isFavorites']"></cdk-row>
    </mat-ext-table>
    <!-- 分页条 -->
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>
</div>