.pdcalc-chart1{
    overflow: hidden;

    .mat-list-item .mat-checkbox .mat-checkbox-inner-container {
        height: 15px;
        width: 15px;
    }
    .mat-list-item .mat-checkbox .mat-checkbox-label {
        font-size:  0.7rem;
    }

    .mat-list-item .mat-radio-button .mat-radio-outer-circle,
    .mat-list-item .mat-radio-button .mat-radio-container,
    .mat-list-item .mat-radio-button .mat-radio-inner-circle {
        height: 15px;
        width: 15px;
    }

    .mat-list-item .mat-radio-button{
        margin-left: 5px;
    }

    .tooltip-inner {
        font-size: 0.7rem;
        padding: 0.01rem  0.5rem  0.25rem 0.5rem; 
        line-height: 1.5rem;
    }

    .cesuan-param {
        .huiguirate-form {
            td{
                position: relative;
                padding: 0px;
                .mat-input-container{
                    position: absolute;
                    top: -8px;
                    left: 0px;
                }
            }
            
        }
    }
}