@import "../../variables.scss";
@import "../../mixin.scss";

app-quickview {
    display: block;
    height: 100%;
    position: fixed;
    right: -400px;
    top: 0px;
    width: 400px;
    z-index: 1000;
    background: #ffffff;
    @include header-shadow();

    .quickview-content{
        padding-top: 30px;
        .quickview-btn-close{
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 2;
            &:hover,&:focus,&:visited{
                background-color: rgba(158,158,158,0.2);
                border: none;
                outline: none;
            }
        }

        .mat-button{
            &:hover,&:focus,&:visited{
                background-color: rgba(158,158,158,0.2);
                border: none;
                outline: none;
            }
        }

        .quickview-btn-open {
            position: absolute;
            left: -56px;
            top: 25%;
            min-width: 30px;
            height: 50px;

            .mat-button-toggle-label-content {
                padding: 6px 16px;
                color: #000;
            }
        }
    }
    
}