<header class="fixed-top jy-page-header">
    <!-- logo定义 -->
    <div class="logo">
        <a href="javascript:void(0)">
            <span class="logo-icon material-icons">dashboard</span>
            <span class="logo-title">Ng-JoyinAdmin</span>
        </a>
    </div>
    <nav>
        <ul class="nav-left list-unstyled">
            <li>
                <button mat-button class="md-button menu-collapse" (click)="triggerMenuCollapse()" type="button" >
                    <mat-icon>menu</mat-icon>
                </button>
            </li>
            <li>
                <button mat-button class="md-button message-btn" type="button" (click)="showMessage()">
                    <mat-icon>email</mat-icon>
                    <span class="badge count">3</span>
                </button>
            </li>
            <li>
                <div class="input-group search-box">
                        <mat-form-field>
                                <span matPrefix><mat-icon>search</mat-icon> &nbsp;</span>
                                <input matInput placeholder="查询...">
                            </mat-form-field>
                </div>
            </li>
        </ul>
        <ul class="nav-right list-unstyled">
            
        </ul>
    </nav>
</header>