@import "../../variables.scss";
@import "../../mixin.scss";



//mini模式下: 隐藏菜单标题
@mixin hide-sidebar-menu-title(){
    .list-group-item{
        a {
            .menu-title {
                opacity: 0;
                position: absolute;
                left: -10000px;
            }
            .material-icons{
                margin-right: 3px;
                font-size: 20px;
            }
         }
    }

    .mat-button{
        min-width: 55px;
    }
}
//正常模式下：显示菜单标题
@mixin show-sidebar-menu-title(){
    .mat-button{
        min-width: 100%;
    }
}

@mixin hide-sidebar-menu-state-icon(){
   .list-group-item{
        a {
            .menu-state-icon {
                opacity: 0;
                position: absolute;
                left: -10000px;
            }
         }
    }
}

%sidebar-menu{
    width: $normal-sidebar-menu-width;
    position: fixed;
    left: 0px;
    height: 100%;
    display: inline-block;
    background: #262B33;
    @include show-transition(all, .25s, ease-in-out);
    color: #fff;
    .list-group-item{
        background: none;
        display: block;
        padding: 0.1rem 0rem;
       
        a {
            @include show-transition(width, .25s, ease-in-out);
            color: rgba(255,255,255,0.5);
            font-weight: 700;
            display: inline-block;
            text-align: left;
            font-size: 12px;
            white-space: nowrap;
            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
            }

            .material-icons{
                margin-right: 10px;
                font-size: 16px;
            }

            .mat-ripple-element{
                background:rgba(112, 110, 110, 0.5);
            }
            .menu-title {
                @include show-transition(opacity, .55s, ease-in-out);
            }

            .menu-state-icon{
                position: absolute;
                right: 5px;
                top: 40%;
                margin-right: 0px;
            }
        }

        .mat-menu-panel{
            background: rgba(0, 0, 0, 0);
            overflow: hidden;
            .mat-menu-content{
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }

    @extend %sidebar-menu-lg-sidebar-mode;
    @extend %sidebar-menu-sm-sidebar-mode;
 }
//子菜单
 %sub-menu {
    background: rgb(20, 15, 15);
    padding-left: 5px;
    overflow: hidden;
    transition: height .35s ease;
    box-sizing: border-box;
    .list-group-item{
        display: block;
        text-align: left;
        border: none;
        a {
            .material-icons{
                margin: 0px 0 0 5px;
                color: #fff;
                font-size: 0.2em;
            }
        }
    }
 }

//大屏模式
%sidebar-menu-lg-sidebar-mode{
    @include screen-min(768px){
        top: 64px;
        @include show-sidebar-menu-title(); 
    }
}

%sidebar-menu-lg-mini-sidebar-mode{
    @include screen-min(768px){
        top: 64px;
        width: $mini-sidebar-menu-width;
        @include hide-sidebar-menu-title();
        @include hide-sidebar-menu-state-icon();
    }
    
}

//小屏模式
%sidebar-menu-sm-sidebar-mode{
    @include screen-max(768px){
        top: 128px;
        width: $normal-sidebar-menu-width;
        @include show-sidebar-menu-title(); 
    }
}

%sidebar-menu-sm-mini-sidebar-mode{
    @include screen-max(768px){
        top: 128px;
        width: $mini-sidebar-menu-width;
        @include hide-sidebar-menu-title();
        @include hide-sidebar-menu-state-icon();
    }
    
}

.main-container{
    .sidebar-menu{
        @extend %sidebar-menu;

        .sub-menu{
            @extend %sub-menu;
        }
    }
}

.mini-sidebar-mode {
    .main-container{
        .sidebar-menu{
            @extend %sidebar-menu-lg-mini-sidebar-mode;
        }
    }
}
.mini-sidebar-mode {
    .main-container{
        .sidebar-menu{
            @extend %sidebar-menu-sm-mini-sidebar-mode;
        }
    }
}
