.mat-toolbar{
    &.mat-default{
        background: #fff;
    }
}

.mat-icon-button , .md-button{
    &:hover,&:visited,&:focus{
        border: none;
        outline: 0;
        background: #e9e9e9;
    }
}
