<div class="card cyno-body pdcalc-main function-body">
        <mat-spinner *ngIf="isLoading" style="position: fixed;top: calc(50vh - 50px);left: calc(50vw - 50px);z-index: 9999;"></mat-spinner>
        <div class="card-header">
          <h5 class="card-title project-title">
            {{projectInfo.projInfo && projectInfo.projInfo.projectName }} -  
            {{projectInfo.projInfo && projectInfo.projInfo.proposalName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted project-sbutitle">收益率分布测算</h6>
          <div class="project-sbutitle-desc">
              <span class="badge badge-primary" *ngFor="let item of projInfoAttrs">{{item}}</span>
          </div>
      </div>
      <div class="card-body">
        <!-- 产品证券结构 -->
        <secustructure-table [datas]="projectInfo.list"></secustructure-table>
        <!--测算 -->
        <div class="card">
            <div class="card-body card-body-nopadding" style="padding: 1.25rem 1.25rem 3rem 1.25rem;">
                <div class="container-fluid">
                    <div class="row" style="flex-wrap: nowrap;">
                        <div class="col" style="flex: 1 1 auto;position:  relative;padding-left:  0px;padding-right: 0px;">
                            <div style="position: absolute;right: 0px;top: 0px;z-index: 5;">
                            <button mat-raised-button color="primary" *ngIf="(incomerate._hasCustomerCesuan && selectTabIndex < 1) || pressureSceMain._hasCustomerCesuan && selectTabIndex > 0" (click)="savePdCalc()" type="button" class="btn-sm" style="
                                    border-radius: 0rem;
                            ">保存测算结果</button>
                           <button mat-raised-button *ngIf="selectTabIndex > 0" type="button" class="btn-sm" 
                                (click)="doPrCalcByPara()"
                                style="
                                border-radius: 0rem;
                            ">测 算</button>
                            <button 
                                type="button"
                                mat-raised-button
                                (click)="previewReport()"
                                color="primary"
                                target="_blank"
                                class="btn-sm" 
                                style="
                                border-radius: 0rem;
                            ">查看报告</button>
                            </div>
                            <mat-tab-group [selectedIndex]="activeTabIndex">
                                <mat-tab label="概率分布测算">
                                    <chart-incomerate #incomerate [initType]="initType" [proposalId]= "proposalId" [selectedIndex]="_selectProposaIndex" [datas]="projectYieldRateData" [graphicDescElRef]="graphicDescDom" [proData]="projectInfo" ></chart-incomerate>
                                </mat-tab>
                                <mat-tab label="情景假设测算">
                                    <pressuresce-main [selectedIndex]="0" [proData]="projectInfo" [initType]="initType" [proposalId]= "proposalId"></pressuresce-main>
                                </mat-tab>
                            </mat-tab-group>
                            <div #graphicDescDom style="
                                border-radius: 0rem;
                                background:  #fff;
                                font-size: 0.8rem;
                                padding: 0.25rem 0rem;
                                height: 1.5rem;
                                position:  absolute;
                                left:0px;
                                bottom:-20px;
                                border: none;
                                ">
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>

      <div style="display: none;">
          <iframe #exportReport  href="#"></iframe>
      </div>
  </div>

 
  
  