.pdcalc-main {
    .fendang-detail .mat-tab-group .mat-tab-labels .mat-tab-label{
        min-width: 50px;
        padding: 0 14px;
        height: 20px;
    }
    .fendang-detail>.card-header>.card-title
        {
            font-size: 1.3rem;
            text-align: left;
            font-weight: 700;
    }

    
    .mat-tab-body-wrapper .mat-tab-body-content{
        overflow: hidden;
    }
}
