//图标字体大小
%logo-icon{
    font-size: $normal-sidebar-menu-iconsize;
}

%logo {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #009688;
    height: $header-height;
    line-height: $header-height;
    background-color: #009688;
    padding: 0px 0 0 16px;
    @include show-transition(all, .25s, ease-in-out);
    @include header-shadow();
    //大屏模式
    @extend %logo-lg-sidebar-mode;
    //小屏模式
    @extend %logo-sm-sidebar-mode;
    
    a {
        display: block;
        font-size: $logo-title-fontsize;
        text-decoration: none;
        color: $logo-color;
        white-space: nowrap;
        .logo-icon{
            @extend %logo-icon;
        }
        .logo-title{
           @include show-transition(all, .25s, ease-in-out);
        }
    }
}

//大屏模式
%logo-lg-mini-sidebar-mode{
    @include screen-min(768px){
        width: $mini-sidebar-menu-width;
        a {
           .logo-icon{
                font-size: 20px;
            }
        
            .logo-title{
                opacity: 0;
                position: absolute;
                left: -10000px;
            }
        }
    }
}

%logo-lg-sidebar-mode{
    @include screen-min(768px){
        width: $normal-sidebar-menu-width;
    }
}

//小屏模式
%logo-sm-mini-sidebar-mode, %logo-sm-sidebar-mode{
    @include screen-max(768px){
        position: static;
        width: 100%;
        color: #fff;
        text-align: center;
    }
}

