%nav {
    display: block;
    height: 100%;
    background: #ffffff;
    @include show-transition(padding, .25s, ease-in-out);
    @include header-shadow();
    .nav-left{
        @extend %nav-left;
    }

    .nav-right{
        @extend %nav-right;
    }

    .md-button{
        padding: 0px;
        margin: 0px;
        height: 100%;
        top: -1px;
        min-width: 50px;
        &:hover,&:focus,&:visited{
            background-color: rgba(158,158,158,0.2);
            border: none;
            outline: none;
        }
        border-radius: 0px;
    }

    //消息
    .message-btn{
        position: relative;
        .count{
            position: absolute;
            right: 0px;
            top: 3px;
        }
    }

    .search-box{
        padding: 3px 0 0 15px;
        .mat-form-field-flex{
            align-items: flex-end;
        }

        .mat-focused,.mat-form-field-should-float {
            .mat-form-field-label-wrapper{
                .mat-form-field-label{
                    display: none;
                }
            }
        }

        .mat-form-field-label-wrapper{
            font-size: 0.7em;
            .mat-form-field-label{
                top: 1.78125em;
                display: block;
            }
        }
    }

    @extend %nav-lg-sidebar-mode;
    @extend %nav-sm-sidebar-mode;
    
}

%nav-left{
    float: left;
    height: 100%;
    li{
        float: left;
        height: 100%;
        line-height: $header-height;
    }
}

%nav-right{
    float: right;
    height: 100%;
    li{
        float: left;
        height: 100%;
        line-height: $header-height;
    }
}

//大屏模式
%nav-lg-sidebar-mode{
    @include screen-min(768px){
        padding: 0px 0 0 $normal-sidebar-menu-width;
    }
}

%nav-lg-mini-sidebar-mode{
    @include screen-min(768px){
        padding: 0px 0 0 $mini-sidebar-menu-width;
    }
}

//小屏模式
%nav-sm-mini-sidebar-mode, %nav-sm-sidebar-mode{
    @include screen-max(768px){
        padding: 0px 0 0 0px;

        //隐藏搜索框
        .search-box{
            display: none;
        }
        .menu-collapse{
            position: absolute;
            right: 10px;
        }
        .message-btn{
            mat-icon{
                font-size: 16px;
            }
            .count{
                position: absolute;
                right: 0px;
                top: 3px;
            }
            .md-button{
                min-width: 50px;
            }
        }
    }
}

