.mat-snack-bar-container{
    &.info{
        background: #323232;
    }

    &.error{
        background: red;
        color: #35352e;
        .mat-simple-snackbar-action {
            color: #35352e;
            font-weight: 700;
        }
    }

    &.warn{
        background: yellow;
        color: #35352e;
        .mat-simple-snackbar-action {
            color: #35352e;
            font-weight: 700;
        }
    }
}