//顶部工具条高度
$header-height: 64px;
//log 字体颜色
$logo-color: #fafafa;
//log 字体颜色
$logo-title-fontsize: 22px;
//mini模式下 菜单图标的大小
$mini-sidebar-menu-iconsize: 20px;
//正常模式下菜单图标的大小
$normal-sidebar-menu-iconsize: 16px;
//mini模式下 菜单图标的大小
$mini-sidebar-menu-width: 55px;
//正常模式下菜单图标的大小
$normal-sidebar-menu-width: 220px;
