<div class="tab-content" style="padding: 20px 0px;">
        <mat-spinner *ngIf="isShoLoading" style="z-index: 1;position: fixed;top: calc(50vh - 50px);left: calc(50vw - 50px);"></mat-spinner>
        <table class="table table-sm">
            <thead>
                <tr style="background-color: rgba(228,228,228,1);">
                    <th scope="col">累计违约率均值</th>
                    <th scope="col">累计违约率方差</th>
                    <th scope="col">提前还款率</th>
                    <th scope="col">回收率</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color:red">{{staticPoolInfo.averageD | percent:'0.2-2'}}</td>
                    <td style="color:red">{{staticPoolInfo.varianceD | percent:'0.2-2'}}</td>
                    <td style="color:red">{{staticPoolInfo.averageE | percent:'0.2-2'}}</td>
                    <td style="color:red">{{staticPoolInfo.recoveryRate | percent:'0.2-2'}}</td>
                </tr>
            </tbody>
        </table>

        <div class="jumbotron base-info" style="padding: 1rem 0.5rem;background-color: #fff;">
            <h1 class="display-6 content-item-title">回收率分析</h1>
            <hr class="my-2">
            <div class="container-fluid content-item-content" style="padding-left: 0px;">
                <div class="row justify-content-md-left" style="flex-wrap: nowrap;">
                    <div class="col">
                        <mat-ext-table [dataSource]="dataSource1" [scroll]="false">
                            <ng-container cdkColumnDef="t1">
                                <cdk-header-cell *cdkHeaderCellDef >一个月回收率( % )</cdk-header-cell>
                                <cdk-cell *matCellDef="let element">{{element.t1 | percent:'0.2-2'}}</cdk-cell>
                            </ng-container>
                            <ng-container cdkColumnDef="t2">
                                <cdk-header-cell *cdkHeaderCellDef>二个月回收率( % )</cdk-header-cell>
                                <cdk-cell *matCellDef="let element">{{element.t2 | percent:'0.2-2'}}</cdk-cell>
                            </ng-container>
                            <cdk-header-row *cdkHeaderRowDef="['t1', 't2']"></cdk-header-row>
                            <cdk-row *cdkRowDef="let row; columns: ['t1', 't2'];"></cdk-row>
                        </mat-ext-table>
                    </div>
                </div>
            </div>
        </div>
</div>