<div class="card cyno-body analyse-main">
    <mat-spinner *ngIf="isShoLoading" style="z-index: 1;position: fixed;top: calc(50vh - 50px);left: calc(50vw - 50px);"></mat-spinner>
    <div class="card-header" style="display: flex;">
        <h5 class="card-title project-title" style="flex: 0 0 auto;font-weight: 700;margin-right: 20px;">{{staticPool.poolName}}</h5>
        <button type="button" class="btn btn-link btn-sm" style="padding: 0px;"  [routerLink]="'/index/statassetpool/detail/' + poolId">查看样本明细</button>
        <div style="flex: 1;"></div>
        <button mat-raised-button style="flex: 0 0 120px;" routerLink="/index/statassetpool/import/{{poolId}}">
            导入样本数据
        </button>
    </div>
    <div class="card-body">
        <div class="jumbotron base-info" style="padding: 0.1rem 0.5rem;background-color: #fff;">
            <h1 class="display-6 base-info-title">资产池基本信息</h1>
            <div class="container-fluid base-info-content" style="padding-left: 0px;">
                <div class="row justify-content-md-left">
                    <div class="col-md-auto">静态池代码：{{staticPool.poolId}}</div>
                    <div class="col-md-auto">贷款发放起始日：{{staticPool.lendBeginDate | date:"yyyy-MM-dd"}}</div>
                    <div class="col-md-auto">贷款发放截止日：{{staticPool.lendEndDate | date:"yyyy-MM-dd"}}</div>
                    <div class="col-md-auto">资产类型：{{staticPool.assetTypesName}}</div>
                    <div class="col-md-auto">数据来源：{{staticPool.dataSourceName}}</div>
                </div>
            </div>
            <hr class="my-2">
        </div>
        <mat-tab-group class="tab-layout-main">
            <mat-tab label="违约率分析">
                <analyse-wy></analyse-wy>
            </mat-tab>
            <mat-tab label="早偿率分析">
                <analyse-zc></analyse-zc>
            </mat-tab>
            <mat-tab label="回收率分析">
                <analyse-hg></analyse-hg>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>