<div class="tab-content" style="padding: 20px 0px;">
        <mat-spinner *ngIf="isShoLoading" style="z-index: 1;position: fixed;top: calc(50vh - 50px);left: calc(50vw - 50px);"></mat-spinner>
        <table class="table table-sm">
            <thead>
                <tr style="background-color: rgba(228,228,228,1);">
                    <th scope="col">累计违约率均值</th>
                    <th scope="col">累计违约率方差</th>
                    <th scope="col">提前还款率</th>
                    <th scope="col">回收率</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color:red">{{staticPoolInfo.averageD | percent:'0.2-2'}}</td>
                    <td style="color:red">{{staticPoolInfo.varianceD | percent:'0.2-2'}}</td>
                    <td style="color:red">{{staticPoolInfo.averageE | percent:'0.2-2'}}</td>
                    <td style="color:red">{{staticPoolInfo.recoveryRate | percent:'0.2-2'}}</td>
                </tr>
            </tbody>
        </table>

        <div class="jumbotron base-info" style="padding: 0.1rem 0.5rem;background-color: #fff;">
            <h1 class="display-6 content-item-title">历史累计早偿率</h1>
            <hr class="my-2">
            <div class="container-fluid content-item-content" style="padding-left: 0px;">
                <div class="row justify-content-md-left" style="flex-wrap: nowrap;">
                    <div class="col-md-auto" style="min-width: 630px;border: 1px solid #b9a7a7;margin-left: 9px;">
                        <div echarts [options]="chartOption1" style="height: 400px;width: 600px;"></div>
                    </div>
                    <div class="col-md-auto" style="display:flex;align-items:center;min-width:160px;">
                        <div style="display: flex;width: 150px;flex-direction: column">
                            <span style="color: red;text-align: center;">{{staticPoolInfo.averageD | percent:'0.2-2'}}y</span>
                            <span style="text-align: center;position: relative;">
                                <i class="fa fa-bar-chart" style="font-size: 40px;font-weight: 200px;"></i>
                                <label style="position:  absolute;bottom: -30px;left: 35px;font-size: 1rem;">违约率均值</label>
                            </span>
                            <div style="height: 80px;"></div>
                            <span style="color: red;text-align: center">{{staticPoolInfo.varianceD | percent:'0.2-2'}}</span>
                            <span style="text-align: center;position: relative;">
                                <i class="fa fa-line-chart" style="font-size: 40px;font-weight: 200px;"></i>
                                <label style="position:  absolute;bottom: -30px;left: 35px;font-size: 1rem;">违约率方差</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron base-info" style="padding: 1rem 0.5rem;background-color: #fff;">
            <h1 class="display-6 content-item-title">加权累计早偿率</h1>
            <hr class="my-2">
            <div class="container-fluid content-item-content" style="padding-left: 0px;">
                <div class="row justify-content-md-left" style="flex-wrap: nowrap;">
                    <div class="col-md-auto" style="min-width: 630px;border: 1px solid #b9a7a7;margin-left: 9px;">
                        <div echarts [options]="chartOption2" style="height: 300px;width: 600px;"></div>
                    </div>
                    <div class="col-md-auto" style="min-width: 350px;">
                        <mat-ext-table [dataSource]="dataSource2" [scroll]="true" [scrollHeight]="300">
                            <ng-container cdkColumnDef="term">
                                <cdk-header-cell *cdkHeaderCellDef >模拟阶段</cdk-header-cell>
                                <cdk-cell *matCellDef="let element">第{{element.term}}期</cdk-cell>
                            </ng-container>
                            <ng-container cdkColumnDef="rate">
                                <cdk-header-cell *cdkHeaderCellDef>加权累计早偿率</cdk-header-cell>
                                <cdk-cell *matCellDef="let element">{{element.rate | percent:'0.2-2'}}</cdk-cell>
                            </ng-container>
                            <cdk-header-row *cdkHeaderRowDef="['term', 'rate']"></cdk-header-row>
                            <cdk-row *cdkRowDef="let row; columns: ['term', 'rate'];"></cdk-row>
                        </mat-ext-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron base-info" style="padding: 1rem 0.5rem;background-color: #fff;">
            <h1 class="display-6 content-item-title">加权新增早偿率</h1>
            <hr class="my-2">
            <div class="container-fluid content-item-content" style="padding-left: 0px;">
                <div class="row justify-content-md-left" style="flex-wrap: nowrap;">
                    <div class="col-md-auto" style="min-width: 630px;border: 1px solid #b9a7a7;margin-left: 9px;">
                        <div echarts [options]="chartOption3" style="height: 300px;width: 600px;"></div>
                    </div>
                    <div class="col-md-auto" style="min-width: 350px;">
                        <mat-ext-table [dataSource]="dataSource3" [scroll]="true" [scrollHeight]="300">
                            <ng-container cdkColumnDef="term">
                                <cdk-header-cell *cdkHeaderCellDef >模拟阶段</cdk-header-cell>
                                <cdk-cell *matCellDef="let element">第{{element.term}}期</cdk-cell>
                            </ng-container>
                            <ng-container cdkColumnDef="rate">
                                <cdk-header-cell *cdkHeaderCellDef>加权新增早偿率</cdk-header-cell>
                                <cdk-cell *matCellDef="let element">{{element.rate | percent:'0.2-2'}}</cdk-cell>
                            </ng-container>
                            <cdk-header-row *cdkHeaderRowDef="['term', 'rate']"></cdk-header-row>
                            <cdk-row *cdkRowDef="let row; columns: ['term', 'rate'];"></cdk-row>
                        </mat-ext-table>
                    </div>
                </div>
            </div>
        </div>
</div>