<div class="card card-region">
<div class="card-header">
    基准参数录入
    <button data-toggle="collapse" data-target="#collapseOne1" type="button" 
    class="btn btn-light btn-sm"><i class="fa fa-angle-down"></i></button>
</div>
<div class="card-body collapse show" id="collapseOne1" style="padding: 0px;">
    <div class="container-fluid" style="padding: 0px;">
        <div class="row" style="height: 35px;">
            <div class="col-3" style="padding: 0rem;color: #8f9396;font-size: 0.7rem; ">
                <mat-form-field style="width: 100%;">
                    <span matPrefix style="padding-left: 10px;">参考参数类型:</span>
                    <mat-select [(ngModel)]="param.PARA_TYPE" name="recCycle1" (ngModelChange)="onPayTypeChange($event)">
                        <mat-option [value]="item.PARA_SOURCE" *ngFor="let item of payTypeList">{{item.PARA_NAME}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-2" style="padding: 0rem;color: #8f9396;font-size: 0.7rem;padding-left: 10px;">
                <mat-form-field style="width: 100%;">
                    <span matPrefix>累计违约率:</span>
                    <input matInput [(ngModel)]="param.PER_VALUE_D" disabled="true" name="recCycle2" #recCycle2="ngModel" jyFloat required>
                </mat-form-field>
            </div>
            <div class="col-1" style="padding: 0rem;color: #8f9396;align-self: center;">
                <button type="button" (click)="openSetting('D')" class="btn btn-link btn-sm" style="position: relative;top: 4px;font-size: 0.7rem;">曲线设置</button>
            </div>
            <div class="col-2" style="padding: 0rem;color: #8f9396;font-size: 0.7rem;padding-left: 10px;">
                <mat-form-field style="width: 100%;">
                    <span matPrefix>累计早偿率:</span>
                    <input matInput [(ngModel)]="param.PER_VALUE_E" disabled="true" name="recCycle3" #recCycle3="ngModel" jyFloat required>
                </mat-form-field>
            </div>
            <div class="col-1" style="padding: 0rem;color: #8f9396;align-self: center;">
                <button type="button" (click)="openSetting('E')" class="btn btn-link btn-sm" style="position: relative;top: 4px;font-size: 0.7rem;">曲线设置</button>
            </div>
            <div class="col-2" style="padding: 0rem;color: #8f9396;font-size: 0.7rem;padding-left: 10px;">
                <mat-form-field style="width: 100%;">
                    <span matPrefix>回收率:</span>
                    <input matInput [(ngModel)]="param.PER_VALUE_R" disabled="true" name="recCycle4" #recCycle4="ngModel" jyFloat required>
                </mat-form-field>
            </div>
            <div class="col-1" style="padding: 0rem;color: #8f9396;align-self: center;">
                <button type="button" (click)="openSetting('R')" class="btn btn-link btn-sm" style="position: relative;top: 4px;font-size: 0.7rem;">曲线设置</button>
            </div>

        </div>
        <div class="row">
            <div class="col" style="padding-right: 0px;padding-left: 0px;">
                <mat-ext-table [dataSource]="dataSource">
                    <ng-container [cdkColumnDef]="colum" *ngFor="let colum of columns; index as i;">
                        <cdk-header-cell *cdkHeaderCellDef> {{cacheColumnTitle[colum]}} </cdk-header-cell>
                        <cdk-cell *matCellDef="let element">
                            <span *ngIf="i === 0">
                                {{element[colum]}}
                            </span>
                            <mat-form-field style="width: 40px;" *ngIf="i > 0">
                                <input matInput [(ngModel)]="element[colum]" jyFloat required jyMax="100" jyMin="0" #editField="ngModel">
                                <span matSuffix>%</span>
                            </mat-form-field> </cdk-cell>
                    </ng-container>
                    <cdk-header-row *cdkHeaderRowDef="columns"></cdk-header-row>
                    <cdk-row *cdkRowDef="let row; columns: columns;"></cdk-row>
                </mat-ext-table>
            </div>
        </div>
    </div>
</div>
</div>