<div mat-dialog-content style="height: 470px; max-height: unset;">
    <h1 mat-dialog-title style="font-size: 1rem; padding: 0px;">{{title}} </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6" style="padding: 10px 0px;height: 280px;">
                <mat-ext-table [dataSource]="dataSource" [scroll]="true" [scrollHeight]="280">
                    <ng-container cdkColumnDef="periods">
                        <cdk-header-cell *cdkHeaderCellDef>第N月</cdk-header-cell>
                        <cdk-cell *matCellDef="let element">{{element.periods}}</cdk-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="rateRefer">
                        <cdk-header-cell *cdkHeaderCellDef>参数值%</cdk-header-cell>
                        <cdk-cell *matCellDef="let element">{{element.rateRefer | percent:'0.2-4'}}</cdk-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="adjustCoef">
                        <cdk-header-cell *cdkHeaderCellDef>调整系数</cdk-header-cell>
                        <cdk-cell *matCellDef="let element">
                            <mat-form-field style="width: 40px;">
                                <input matInput [(ngModel)]="element.adjustCoef" jyFloat required (input)="doUpdate()">
                            </mat-form-field>
                        </cdk-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="rateBase">
                        <cdk-header-cell *cdkHeaderCellDef>基准值%</cdk-header-cell>
                        <cdk-cell *matCellDef="let element">{{element.rateBase | percent:'0.2-4'}}</cdk-cell>
                    </ng-container>
                    <cdk-header-row *cdkHeaderRowDef="columns"></cdk-header-row>
                    <cdk-row *cdkRowDef="let row; columns: columns;"></cdk-row>
                </mat-ext-table>
            </div>
           <div class="col-6">
                <div echarts [options]="chartOption" style="height: 360px;"></div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions style="padding: 0px;justify-content: flex-end;">
        <button mat-raised-button mat-dialog-close>取 消</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">确 定</button>
    </div>
</div>