@import "../../../themes/variables.scss";
@import "../../../themes/mixin.scss";

.cyno-header {
    transition: all .5s ease-out;
    background: $navbar-background;
    font-size: $navbar-fontsize;
    color: rgba(254, 254, 254, 1);
    height: 168px;
    //滚动，隐藏line banner breadcrumb-banner
    &.scrolled {
        height: 42px;
        overflow: hidden;
        opacity: 0.6;
        &::before, &::after {
            height: 0px;
        }
    }

    & > div:not(.line){
        margin: $page-margin;
    }

    .cyno-navbar{
        display: flex;
        height: 42px;
        nav {
            &:first-child{
                flex: 0 0 100px
            }

            &:nth-child(2){
                flex: 1 1 auto;
            }
            
            & .nav-link, & .user-info{
                font-size: inherit;
                color: inherit;
                padding: 0.5rem 0.3rem;
            }

        }
    }

    .line {
        height: 2px;
        border-top: 1px solid #265aab;
        position: fixed;
        top: 40px;
        left: 0px;
        width: 100%;
        z-index: 10;
    }

    .banner{
        display: flex;
        background: none;
        padding: 0px;
        .navbar-brand {
            font-size: 1.5rem;
            color: inherit;
            line-height: 40px;
            flex:  1 1 auto;

            &::before{
                content: '';
                display: block;
                width: 2px;
                position: relative;
                height: 20px;
                left: 85px;
                top: 31px;
                border-left: 1px solid #fff;

            }
        }

        .nav{
            .btn-sm {
                margin-left: 10px;
                padding: 0.4rem 0.8rem;
                font-size: inherit;
                line-height: 1.1em;
                border-radius:25px;
                color: inherit;
                border-color: #b79494;

                &:hover{
                    border-color: #0d47a1;
                }
            }
        }
    }
     .breadcrumb-banner{
        height: 23px;
        margin-top: 30px !important;
        .breadcrumb {
            background: none;
            color: inherit;
            padding: 0rem 0rem 2rem 0.3rem;
            position: relative;
            .breadcrumb-item {
                font-size: .7rem;
                &:first-child {
                    i{
                        font-size: .8rem;
                        margin-right: 5px;
                    }
                }
                + .breadcrumb-item::before{
                    display: inline-block;
                    padding-right: 0.2rem;
                    padding-left: 0.2rem;
                    font-size: inherit;
                    color: inherit;
                    content: ">";
                }
            }
        }

     }

     &::before {
        transition: all .2s ease-out;
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 300px;
        left: 0px;
        top: 0px;
        background: #0d47a1;
        content: '';
    }
    
    &::after {
        transition: all .2s ease-out;
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 300px;
        right: 0px;
        top: 0px;
        background: #0d47a1;
        content: '';
    }
}