<div class="card cyno-body statassetpool-main function-body">
        <div class="card-header" style="display: flex;">
            <h5 class="card-title project-title" style="flex: 1;font-weight: 700;">创建静态资产池</h5>
        </div>
        <div class="card-body">
            <mat-spinner *ngIf="isShoLoading" style="z-index: 1;position: fixed;top: calc(50vh - 50px);left: calc(50vw - 50px);"></mat-spinner>
            <form #staticPoolForm="ngForm">
                <div class="container-fluid">
                    <div class="row"  *ngIf="!updatePool">
                        <div class="col" style="text-align: center;"> 
                            <mat-form-field style="width: 400px;font-size: 14px;">
                                <input matInput placeholder="静态池代码" [formControl]="poolCodeFormControl" name="poolCode">
                                <mat-error *ngIf="poolCodeFormControl.invalid">{{poolCodeFormControl.errors.unique || '必填项'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <mat-form-field style="width: 400px;font-size: 14px;">
                                <input matInput placeholder="静态池名称" [formControl]="poolNameFormControl" name="poolName">
                                <mat-error *ngIf="poolCodeFormControl.invalid">必填项</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <mat-form-field style="width: 400px;font-size: 14px;">
                                <mat-select placeholder="项目名称" [formControl]="projectFormControl" name="project">
                                   <mat-option *ngFor="let option of projectSource" [value]="option.projectId">{{option.projectShortName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <mat-form-field style="width: 400px;font-size: 14px;">
                                <mat-select placeholder="资产类型" [formControl]="assetTypeFormControl" name="assetType">
                                    <mat-option *ngFor="let option of assetTypeSource" [value]="option.paramCode">{{option.paramName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <mat-form-field style="width: 400px;font-size: 14px;">
                                <mat-select placeholder="数据来源" [formControl]="dataFromFormControl" name="dataFrom">
                                    <mat-option *ngFor="let option of dataFromSource" [value]="option.institutionCode">{{option.institutionName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <mat-form-field style="width: 200px;font-size: 14px;">
                                <input matInput [matDatepicker]="startPicker" placeholder="贷款发放起始日期" [formControl]="startDateFormControl" name="startDate" [max]="endDateFormControl.value">
                                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                <mat-datepicker #startPicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field style="width: 200px;font-size: 14px;">
                                <input matInput [matDatepicker]="endPicker" placeholder="贷款发放截止日期" [formControl]="endDateFormControl" name="endDate"  [min]="startDateFormControl.value">
                                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                <mat-datepicker #endPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <mat-form-field style="width: 400px;font-size: 14px;">
                                <textarea matInput placeholder="静态池说明" style="height: 100px;" [formControl]="bakFormControl" name="bak"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="display: flex;justify-content: center;">
                            <div style="width: 400px">
                                <button mat-raised-button [disabled]="!isVaild()" (click)="save()">
                                    <mat-icon fontSet="fa" fontIcon="fa-plus" style="font-size: 14px;line-height:23px;font-weight: 700;"></mat-icon>
                                    {{updatePool ? '保存修改' : '创建'}}
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>